html {
    background: #f9f9f9;
  }
	.is-info,
	.is-primary {
		max-width: 300px;
		display: block;
		margin-bottom: 10px;
		margin-right: auto;
		margin-left: auto;
	}
  .card {
    width: 90%;
  }
	.button {
		min-width: 300px;
	}
	.card {
		margin-top: 50px;
		weight: 90%;
		max-width: 500px;
		border-radius: 6px;
		margin-right: auto;
		margin-left: auto;
	}
	select {
		width: 100%;
	}
	.card-content {
		text-align: center;
	}
	.box {
		overflow: auto;
	}
